*{
    margin: 0;
    padding: 0;
}
#navigation {
    background-color: black;;
    height: 14vh;
}
ul .logo {
    float: left;
}
.logo-image {
    width:120px;
    margin-left: 50px;
}
nav {
    margin-right: 100px;
}
nav li{
    float: right;
    list-style: none;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    color: white;
}
li.active {
    background-color: rgb(248, 74, 6);
}
nav li a {
    text-decoration: none;
    color: white;
}